services:
    nextapp:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: next-whisper
        ports:
            - '3000:3000'
        environment:
            NODE_ENV: production
        env_file:
            - .env.production
        restart: unless-stopped
